.card{
  background-color:#0ac4ff;
  border-radius: 6px;
  padding: 20px;
  margin: 20px;
  width: 200px;
  transition: all 0.6 ease-out;
  opacity:0.7;
}
.card:hover{
  cursor: pointer;
  opacity:1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border-radius:60%;
}
.card p{
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  text-align: center
}
.card h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center
}

.image{
  max-width: 100%;
}